.news-feed {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 95dvh;
  overflow: auto;
}

.news-feed__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.news-feed__item-title {
  font-size: 16px;
  font-weight: bold;
}

.news-feed__item-summary {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.news-feed__item-summary-text {
  font-size: 14px;
}

.news-feed__item-summary-image img {
  object-fit: cover;
}

.news-feed__load-more {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
